asgiref==3.9.1
black==25.1.0
cfgv==3.4.0
click==8.2.1
colorama==0.4.6
distlib==0.4.0
Django==5.2.4
filelock==3.18.0
flake8==7.3.0
gunicorn==23.0.0
identify==2.6.12
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
pre_commit==4.2.0
pycodestyle==2.14.0
pyflakes==3.4.0
python-decouple==3.8
PyYAML==6.0.2
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.14.1
tzdata==2025.2
virtualenv==20.33.1
